.container {
  
  color: black;
  max-width: 1200px;
 
  
}

.p{
  margin-bottom: 0;
  display: flex;
  align-self: start;
}

.numero{
  margin: 0;
}
.card{
  max-width: 400px;
  border-color: black;
}

.botones{
  display: flex;
  align-items: start;
}

.popup{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner{
  position: relative;
  max-width: 400px;
  border-color: rgb(186, 21, 21);
  box-shadow: rgba(100, 100, 111, 0.2);
  padding: 20px;
}

